COMPOSE_PROJECT_NAME=blood-pressure-bot

TG_KEY="you_telegram_bot_api_key"

# Опциональные настройки (дефолты подходят для запуска в docker-compose)
# BP_TG_HOST="api.telegram.org"
# BP_BATCH_SIZE=100
# BP_DB_PATH="data/sqlite/storage.db"
