# Исполняемые файлы
*.exe
blood-pressure-bot
.env

# БД (включая WAL/SHM, появляющиеся в режиме _journal_mode=WAL)
*.db
*.db-wal
*.db-shm

# Временные файлы
*.test
*.out

# Кэш
pkg/mod

# Директории IDE
.idea/
.vscode/
